.NftContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 256px));
  /* grid-auto-flow: 280px; */
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 20px;
  padding-bottom: 50px;
}
.FilterBar {
  width: 100%;
  height: 50px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}
.PaginationContainer {
  width: 100%;
  height: 50px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.PageButton {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid lightgray;
}
