.Navbar {
  width: 100vw;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 10;
  background-color: #333;
  margin: 0;
  top: 0;
}
.LogInBtnContainer {
  margin-top: auto;
  margin-bottom: auto;
}
.NavIcon {
  margin-top: auto;
  margin-bottom: auto;
}
.NavbarLink {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
}
.LogoLink {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  color: white;
  display: flex;
}
.LogoLink > span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-size: 20px;
}
@media only screen and (max-width: 730px) {
  .NavbarLink,
  .LogInBtnContainer {
    display: none;
  }
}
